<!-- <div class="jumbotron text-center">
	<h1>Service Page</h1>
	
	<p>{{ message }}</p>
</div> -->

<div class="container marketing">
    <div class="row">
        <div class="col-xs-8 col-sm-3 col-md-3 well rowCell Service1">
         <!--   
            <img src="" class="img-rounded img-responsive center-block"  /> -->
        <img class="rounded-circle " " src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
         
        </div>
        <div class="col-xs-4 col-sm-3 col-md-3 well rowCell Service2">
        
   
       <img class="img-rounded  center-block" " src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
         
          <!--   <label for="char2">Label 2</label>        -->         
        </div>
      
    </div>
    
    <div class="row">
      <div class="col-xs-6 col-sm-3 col-md-3 well rowCell Service3">
      
            <img class="img-rounded  center-block" " src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140"/>
      <!--   <img class="img-rounded  center-block" " src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140"> -->
          <h2>Heading</h2>
          <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
         
                       
        </div> 
        <div class="col-xs-6 col-sm-3 col-md-3 well rowCell Service4">
      
             <div class="col-sm-3 col-md-3">
                <img class="rounded-circle " " src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140"/>
             </div>
               <div class="col-sm-3 col-md-3">
               <h2>Heading</h2>
          <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
               </div>
        
     
          
         
                       
                     
        </div>
    
    </div>
</div>